@import 'tailwindcss';
@import '@fontsource/fira-mono';


@font-face {
	font-family: 'LufgaRegular';
	src: url('/fonts/LufgaRegular.woff') format('woff');
	font-weight: 400;
	font-display: swap;
  }
  
  @font-face {
	font-family: 'LufgaBold';
	src: url('/fonts/LufgaBold.woff') format('woff');
	font-weight: 700;
	font-display: swap;
  }
  
  @font-face {
	font-family: 'Attena';
	src: url('/fonts/Attena.otf') format('opentype');
	font-weight: 400;
	font-display: swap;
  }
  :root {
	/* Typography */
	--font-body: 'LufgaRegular', sans-serif;
	--font-heading: 'LufgaBold', sans-serif;
	--font-title: 'Attena', serif;
	--font-mono: 'Fira Mono', monospace;
  
	/* Core Colors (semantic roles) */
	--secondary: #E2C275;
	--primary: #2E231A;
	--accent: #927659;
	--background: #F8F5EE;
  
	--error: #C84A3D;
	--success: #4D7C5A;
  
	--color-muted: rgba(46, 35, 26, 0.6);
  }
  
  @theme inline {
	--color-primary: 'var(--color-primary)';
	--color-secondary: 'var(--color-secondary)';
	--color-accent: 'var(--color-accent)';
	--color-background: 'var(--color-background)';
	--color-error: 'var(--color-error)';
	--color-success: 'var(--color-success)';
  }
.font-title {
	font-family: 'Attena', sans-serif;
  }
  
.font-body {
	font-family: 'LufgaRegular', sans-serif;
}

.font-heading {
	font-family: 'LufgaBold', sans-serif;
}


a, p {
	font-family: var(--font-body);
}

h1 {
	font-family: var(--font-title);
}

a:hover {
	text-decoration: underline;
}