@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@font-face {
	font-family: 'LufgaRegular';
	src: url('frontend/src/public/fonts/LufgaRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'LufgaBold';
	src: url('/frontend/src/public/fonts/LufgaBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Attena';
	src: url(/frontend/src//public/fonts/Attena.otf) format('opentype');
	font-weight: 400;
  }
:root {
	/* Feel free to modify the colors to match */
	--font-body: 'LufgaRegular', sans-serif; /* body font */
	--font-heading: 'LufgaBold', sans-serif; /* heading font */
	--font-title: 'Attena', serif; /* title font */
	--font-mono: 'Fira Mono', monospace;
	--color-c1: #E2C275; /* primary accent*/
	--color-c2: #C5A262; /* secondary accent*/
	--color-c2: #927659; /* neutral surface*/
	--color-c3: #2E231A; /* text color*/
	--color-c4: #F8F5EE; /* background color*/
	--color-error: #C84A3D; /* error*/
	--color-success: #4D7C5A; /* success*/
	
}

a, p {
	font-family: var(--font-body);
}

h1 {
	font-family: var(--font-title);
}

a:hover {
	text-decoration: underline;
}